.profileContainer {
	display: flex;
	gap: 1rem;
}

.profile {
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: #ace1af;
}

.profileContainer > section {
	/* background-color: lightgray; */
	padding: 1rem;
}

.statItems {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	/* flex-direction: column; */
}

.statItems:last-child {
	justify-content: end;
}

.statItems > div {
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.statItems > div {
	background-color: darkgray;
}

.stats {
	/* width: 400px; */
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	width: 100%;
}

.baseMeter > h3 {
	margin-bottom: 0.5rem;
	text-align: center;
}

.emoji {
	font-size: 1.5rem;
}

.uitpakText {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
