.imageContainer {
	width: 300px;
	height: 200px;
}

.imageContainer > img {
	object-fit: cover;
	border-radius: 0.5rem;
}

.badge {
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.green {
	background-color: #ace1af;
}

.red {
	background-color: #e34234;
}

.earned {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	font-size: 0.75rem;
}

.requirements {
	border-radius: 0.5rem;
	padding: 1rem;

	background-color: darkgray;
}

.requirements button {
	margin-top: 1rem;
}

button {
	padding: 0.75rem;
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 2px 2px 0px black;
	border-radius: 0.5rem;
	border: 0;
}

.requirementsList {
	list-style-type: circle;
	padding-left: 1rem;
	margin-top: 1rem;
}

.itemInner {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.disableItem > .itemInner {
	opacity: 0.1;
}

.disableItem {
	cursor: not-allowed;
	position: relative;
}

.unlockContainer {
	position: absolute;
	padding: 1rem;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.unlockText {
	font-size: 2rem;
	font-weight: 800;
	display: flex;
	align-items: center;
}

.lockIcon {
	font-size: 5rem;
}

.imageAndRequirements {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.notice {
	padding: 0.25rem 1rem;
	background-color: rgb(255, 242, 171);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.emoji {
	font-size: 2rem;
}

.hide {
	display: none;
}
